
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    list-style: none;
    transition: all .4s;
}




a {
    text-decoration: none;
    color: #303133;
    transition: all 0.3s ease;
}


/*INNER*/
.inner {
    width: 1100px;
    margin: 0 auto;
    position: relative;
}

/*Logo & Menu*/
header {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.164);
    position: fixed;
    top: 0;
    z-index: 9;
}

header .inner {
    height: 120px;
}

header .logo {
    height: 100px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50px;
    margin: auto;
    text-decoration-line: none;
}

header .logo img {
    height: 110px;
}

header .sub-menu {
    position: absolute;
    top: 0px;
    right: 0;
    display: flex;
}

header .sub-menu ul.menu {
    display: flex;
}

header .sub-menu ul.menu li {
    position: relative;
}

header .sub-menu ul.menu li::before {
    content: "";
    width: 1px;
    height: 12px;
    background-color: #000;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
}

header .sub-menu ul.menu li:first-child::before {
    display: none;
}

header .sub-menu ul.menu li a {
    padding: 11px 16px;
    display: block;
    font-size: 13px;
    color: #000;
}

header .sub-menu ul.menu li a:hover {
    color: #fff;
}

/* Search-icon*/
header .sub-menu .search {
    position: relative;
    height: 42px;
    padding-top: 5px;
}

header .sub-menu .search input {
    width: 36px;
    height: 34px;
    padding: 4px 10px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 5px;
    outline: none;
    background-color: #fff;
    color: #777;
    font-size: 12px;
    transition: width .6s;
}

header .sub-menu .search input:focus {
    width: 190px;
    border-color: #669900;
}

header .sub-menu .search .material-icons {
    height: 24px;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 5px;
    margin: auto;
    transition: .4s;
}

header .sub-menu .search.focused .material-icons {
    opacity: 0;
}

header .main-menu {
    position: absolute;
    bottom: -20px;
    right: 20px;
    display: flex;
}

header .main-menu .item a {
    text-decoration: none;
}

header .main-menu .item .item__name {
    padding: 20px 20px 34px 20px;
    font-family: Arial, sans-serif;
    font-size: 18px;
    color: #fff;
    font-weight: 500;
}
/*Footer*/
footer {
    background-color: rgba(255, 255, 255, 0);
    padding-top: 40px;
}

footer .foot {
    margin: 0 auto;
}

footer .menu {
    display: flex;
    justify-content: center;
}

footer .menu li {
    position: relative;
}

footer .menu li a {
    color: #000;
    font-size: 12px;
    font-weight: 700;
    padding: 15px;
    display: block;
    text-decoration: none;
}

footer .menu li a.green {
    color: #669900;
}

footer .info {
    margin-top: 30px;
    text-align: center;
}

footer .info span {
    margin-right: 20px;
    color: #999;
    font-size: 12px;
}

footer .info span:last-child {
    margin-right: 0;
}







/* Small */
@media(max-width: 768px) {

    footer .menu li a {
        font-size: 5px;
    }
}

/* Medium */
@media(max-width:992px) {
    header .inner{
        margin-left: -20px;
    }
}

/* Large */
@media(max-width: 1200px) {
    .inner {
        width: 100%;
    }

}
